{% extends 'layouts/app.htm' %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Home</h3>
                <div class="nk-block-des text-soft">
                    <p>Optimasi Clustering with Genetic Algorithm.</p>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div>
</div> <!-- nk-block -->
{% endblock %}