{% extends 'layouts/app.htm' %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Data Hotspots</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <table class="datatable-init table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Provinsi</th>
                        <th>Kabupaten</th>
                        <th>Kecamatan</th>
                        <th>Desa</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Satelit</th>
                        <th>Confidence</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hotspot in datas.hotspots %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{hotspot[0]}}</td>
                        <td>{{hotspot[1]}}</td>
                        <td>{{hotspot[2]}}</td>
                        <td>{{hotspot[3]}}</td>
                        <td>{{hotspot[4]}}</td>
                        <td>{{hotspot[5]}}</td>
                        <td>{{hotspot[6]}}</td>
                        <td>{{hotspot[7]}}</td>
                        <td>{{hotspot[8]}}</td>
                        <td>{{hotspot[9]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->
{% endblock %}