{% extends 'layouts/app.htm' %}

{% block content %}
<div class="nk-block nk-block-lg wide-md mx-auto">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Create New Cluster</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="/clustering" class="btn btn-warning"><em class="icon ni ni-arrow-left"></em><span>Back</span></a></li>
                        </ul>
                    </div>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <form action="/clustering/store" method="post" enctype="multipart/form-data">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="default-01">Population Size</label>
                            <div class="form-control-wrap">
                                <input name="population" type="number" class="form-control" min="100" placeholder="Jumlah Populasi" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Crossover Rate</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select form-control form-control-lg" name="crossover" required>
                                            {% for crossover in datas.crossovers %}
                                            <option value="{{crossover[0]}}">{{crossover[0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Mutation Rate</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select form-control form-control-lg" name="mutation" required>
                                            {% for mutation in datas.mutations %}
                                            <option value="{{mutation[0]}}">{{mutation[0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="default-01">Jumlah Cluster</label>
                            <div class="form-control-wrap">
                                <input name="cluster" type="number" class="form-control" min="2" placeholder="Jumlah Cluster" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="default-01">Max Iteration</label>
                            <div class="form-control-wrap">
                                <select class="form-select form-control form-control-lg" name="iteration" required>
                                    <option value="500">500</option>    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary"><em class="icon ni ni-send"></em><span>Submit</span></button>
                </div>    
            </form>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->
{% endblock %}
