{% extends 'layouts/app.htm' %}

{% block content %}
<div class="nk-block nk-block-lg mx-auto">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Detail Cluster</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                            class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="/clustering" class="btn btn-warning"><em
                                        class="icon ni ni-arrow-left"></em><span>Back</span></a></li>
                        </ul>
                    </div>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>GA-KMeans</h5>
                    <div class="card card-bordered">
                        <div class="card-body">
                            <img src="{{url_for('static', filename=datas.clustering.thumbnail_cluster_ga)}}" alt="">
                        </div>
                    </div>
                    <hr>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Total Cluster</td>
                                <td>: {{datas.clustering.total_cluster}}</td>
                            </tr>
                            <tr>
                                <td>Total Data</td>
                                <td>: {{datas.clustering.total_data}}</td>
                            </tr>
                            <tr>
                                <td>Total Populasi</td>
                                <td>: {{datas.clustering.total_populasi}}</td>
                            </tr>
                            <tr>
                                <td>Crossover Rate</td>
                                <td>: {{datas.clustering.crossover_rate}}</td>
                            </tr>
                            <tr>
                                <td>Mutation Rate</td>
                                <td>: {{datas.clustering.mutation_rate}}</td>
                            </tr>
                            <tr>
                                <td>SSE</td>
                                <td>: {{datas.clustering.sse_ga}}</td>
                            </tr>
                            <tr>
                                <td>1/SSE</td>
                                <td>: {{datas.clustering._sse_ga}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h5>KMeans</h5>
                    <div class="card card-bordered">
                        <div class="card-body">
                            <img src="{{url_for('static', filename=datas.clustering.thumbnail_cluster_kmeans)}}" alt="">
                        </div>
                    </div>
                    <hr>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Total Cluster</td>
                                <td>: {{datas.clustering.total_cluster}}</td>
                            </tr>
                            <tr>
                                <td>Total Data</td>
                                <td>: {{datas.clustering.total_data}}</td>
                            </tr>
                            <tr>
                                <td>SSE</td>
                                <td>: {{datas.clustering.sse_kmeans}}</td>
                            </tr>
                            <tr>
                                <td>1/SSE</td>
                                <td>: {{datas.clustering._sse_kmeans}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->
{% endblock %}

{%block js%}
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
{%endblock%}