{% extends 'layouts/app.htm' %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Clustering</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                            class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="clustering/create" class="btn btn-primary"><em
                                        class="icon ni ni-plus"></em><span>Create Cluster</span></a></li>
                        </ul>
                    </div>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <table class="datatable-init table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Total Cluster</th>
                        <th>Total Data</th>
                        <th>Total Populasi</th>
                        <th>Max Iteration</th>
                        <th>Crossover Rate</th>
                        <th>Mutation Rate</th>
                        <th>SSE GA-KMeans</th>
                        <th>1/SSE GA-KMeans</th>
                        <th>SSE KMeans</th>
                        <th>1/SSE KMeans</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clustering in datas.clusterings %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{clustering[0]}}</td>
                        <td>{{clustering[1]}}</td>
                        <td>{{clustering[2]}}</td>
                        <td>{{clustering[3]}}</td>
                        <td>{{clustering[4]}}</td>
                        <td>{{clustering[5]}}</td>
                        <td>{{clustering[6]}}</td>
                        <td>{{clustering[7]}}</td>
                        <td>{{clustering[8]}}</td>
                        <td>{{clustering[9]}}</td>
                        <td>
                            <a href="clustering/detail/{{loop.index}}" class="btn btn-sm btn-outline-info"><em
                                    class="icon ni ni-eye"></em></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->
{% endblock %}